
/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    padding: 30px;
     font-size: 0.8rem;
}
.logo-footer{
    max-width: 200px;
}
.black{
    background-color: var(--black);
    color: var(--white);
}
.footer ul li a{
    color: var(--white);
    font-size: 0.8rem;
}
.footer ul li a:hover{
    color: var(--terciary-color);
}
.footer h3{
    color: var(--terciary-color);
    padding-left: 30px;
}
.social-iconos a{
    color: var(--terciary-color);
    font-size: 1.2rem;
    padding-left: 25px;
}
.social-iconos a:hover{
    color:var(--white);
}