@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --main-color:#001F3D;
    --secundary-color: #ED985F;
    --terciary-color: #F7B980;
    --white-gray: #F7B980;
    --white: #ffffff;
    --black:#000000;
    --grey-dark: #021526;
    --cyan:#00faea;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
header{
    background-color: var(--grey-dark);
    color: var(--white);
    display: flex;
   justify-content: space-between;
   padding: 10px 30px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.logo{
    width: 200px;
}
.main-menu{
    display: flex;
    gap: 15px;
}

.main-menu  li a{
    color: var(--white);
}
.main-menu  li a:hover{
    color: var(--secundary-color);
}

/*quienes somos*/
.quienes-somos{
    display: grid;
    grid-template-columns: auto auto; /*se divide en dos columnas*/
}
.img-fluid{
    max-width: 600px;

}
.padding-50x{
    padding: 20px 30px;
}
.padding-80x{
    padding: 80px 30px;
}
h2{
    font-size: 2rem;
}
.main-color-font{
    color:var(--main-color)
}
p{
    font-size: 1rem;
    font-weight: 400;

}
.btn-main-color{
    width: 300px;
    background-color: var(--main-color);
    color: var(--secundary-color);
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 8px;
}
.btn-main-color:hover{
    background-color: var(--grey-dark);
    color: var(--white-gray);
}

/*SERVICIOS*/
.container-fluid{
    width: 100%;
    margin-top: 0;
}
.grey-dark{
    background-color: var(--grey-dark);
    color: var(--white);
}
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;/*agrega espacio entre las filas de mi grilla*/
}
.center{
    text-align: center;
}
.cyan{
    color: var(--cyan);
}
.cyan:hover{
    color: var(--terciary-color);
}

/*footer*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}
.logo-footer{
    width: 300px;
}
.black{
    background-color: var(--black);
    color: var(--white);
}
.footer ul li a{
    color: var(--white);
}
.footer ul li a:hover{
    color: var(--terciary-color);
}
.footer h3{
    color: var(--terciary-color);
    padding-left: 30px;
}
.social-iconos a{
    color: var(--terciary-color);
    font-size: 1.5rem;
    padding-left: 25px;
}
.social-iconos a:hover{
    color:var(--white);
}
/*CONTACTO*/
.title{
    color:var(--terciary-color);
    font-size: 2em;
    margin: 0px;
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
}
label{
    width: 100%;
    
}
input[type="text"],[type="email"],[type="date"]{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}
select{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}
input[type="submit"]{
    display: block;
    margin: 20px auto;
    width: 80%;
    background-color: var(--cyan);
    color: var(--main-color);
    padding: 15px;
    border-radius: 12px;
    border: none;      /* Elimina el borde por defecto de los botones */
    cursor: pointer;   /* Mejora la experiencia de usuario (UX) */
    font-weight: 600;
   
}
textarea{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.contacto .col{
    padding: 30px;
}